.cast {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.actor {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.actor:hover {
  transform: translateY(-5px);
}

.actor_image {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.actor_name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.actor_character {
  font-style: italic;
  color: #777;
}
